@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center py-5">
        <h1 class="display-4">Sistema de Registro de Logística "Carnicería"</h1>
        <p class="lead">Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank" rel="noopener noreferrer">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a asp-action="Index" asp-controller="Camioneroes" class="btn btn-primary btn-lg mb-3">Ir a Camioneros</a>
        </div>

        <div class="col-md-6 text-center">
            <a asp-action="Index" asp-controller="Camiones" class="btn btn-secondary btn-lg mb-3">Ir a Camiones</a>
        </div>
    </div>
</div>
